/* Header */

header {
    background-color: #DCD4BF;
    height: 100px;
    box-shadow: 0px 2px 10px 1px #00000036;
    display:flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

header a {
    margin-right: 16px;
    text-decoration: none;
    color: black;
}

header a:hover {
    color: rgba(0, 0, 0, 0.522);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-button {
    position: absolute;
    top: 37px;
    right: 25px;
    display: none;
    flex-direction: column;
    justify-content:space-between;
    width: 30px;
    height: 23px;
}

.toggle-button .bar {
    height: 2px;
    width: 100%;
    background-color: black;
    border-radius: 100px;
}

.container {
    text-decoration: none;
    color: black;
    display: flex;
}

.container1 {
    display:flex;
    justify-content:flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-right: 16px;
    margin-left: 16px;

}

.container1 a {
    background-color: #DCD4BF;
    color: black;
    text-decoration: none;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1px;
    box-shadow: 0px 2px 10px 1px #00000036;

}

.container1 a:hover {
    background-color: #d2c8b0; 
}

.logo {
    margin-right: 30px;

}

body {
    background-image: url(Bilder/Hintergrund.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style:normal;
    justify-content: center;
    align-items: center;
}


.header-image {
    height: 100vh;
    width: 100%;
    object-fit:cover;
}

.contentbox {
    background-color: white;
    margin: 16px;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 30px;
    max-width: 440px;
    justify-content: center;
    align-content: center;
}

.contentbox-image {
    height: 250px;
    width: 100%;
    object-fit:cover;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentbox-image-home {
    height: 250px;
    width: 100%;
    object-fit:cover;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Schriften */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap')= "Lexend";

h1 {
    color: black;
    font-size: 40px;
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 16px;
    margin-top: 50px;
    text-align: center;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style:normal;
    letter-spacing: 5px;
    margin: 16px;
}

p {
    margin: 16px;
}

.googlemaps {
    display:flex;
    justify-content:center;
    align-items: center;
    margin: 16px;
    border-radius: 20px;
}

/* Footer */

footer {
    background-color:black;
    height: 200px;
    box-shadow: 0px 2px 10px 1px #00000036;
    display:flex;
    justify-content:center;
    align-items:center;
    text-transform: uppercase;
}

footer a {
    margin-right: 16px;
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: rgba(231, 201, 150, 0.522);
}

@media (min-width:768px) {
    .inspo-box {
        display:flex;
        flex-direction: row;
        height: 500px;
    }

    .contentbox  (min-width: 768px) {
        display: flex;
        flex-direction: row;
        max-width: none;
    }

}

@media (max-width:650px) {
    header a {
        display: none;
        width: 100%;
    }

    .toggle-button {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .list-container {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
}